 <div class="info-title">
    <h3>公司信息</h3><a href="JavaScript:;" class="edit-link">编辑</a>
  </div>
  <div class="form-area">
    <table class="tb-two-col">
      <tbody>
        <tr>
          <td class="item_name">公司名称：</td>
          <td class="item_value"><input type="text" name="" /></td>
          <td class="item_name">网址：</td>
          <td class="item_value"><input type="text" name="" /></td>
        </tr>
        <tr>
          <td class="item_name">成立时间：</td>
          <td class="item_value"><input type="text" name="" /></td>
          <td class="item_name">注册资金：</td>
          <td class="item_value"><input type="text" name="" /></td>
        </tr>
        <tr>
          <td class="item_name">公司规模：</td>
          <td class="item_value"><input type="text" name="" /></td>
          <td class="item_name">经营方式：</td>
          <td class="item_value">
            <div class="radiogroup">
              <input name="radio" type="radio" id="radio01" /><label for="radio01">综合大型卖场</label>
              <input name="radio" type="radio" id="radio02" /><label for="radio02">连锁店</label>
              <input name="radio" type="radio" id="radio03" /><label for="radio03">自营店</label>
            </div>
          </td>
        </tr>
        <tr>
          <td class="item_name">主营机型：</td>
          <td class="item_value"><input type="text" name="" /></td>
          <td class="item_name">主营品牌：</td>
          <td class="item_value"><input type="text" name="" /></td>
        </tr>
        <tr>
          <td></td>
          <td colspan="3"><button class="submit-btn">提交</button> <input type="reset" class="button cancel-btn" value="取消"/></td>
        </tr>
      </tbody>
    </table>
  </div>