#siteContainer { margin: 0 auto; width:976px;}
#siteContainer {color:#666666;font-family:Arial;font-size:12px;}
img {border:medium none;}
a{color:#8CC63F;font-family:Arial;}
a:hover{ text-decoration:none;}

#mainLogo {float:left; padding-left:10px;margin-top: 20px;margin-bottom:12px;}
#mainSubNav {float:right;margin-top:20px;}
#mainNav{clear:both;background-image:url("/images/site/nav_bg.jpg");background-repeat:repeat-x;height:40px;width:976px;}
#mainNav ul{display:block;list-style-type:none;margin-left:30px;padding:0;}
#mainNav ul li {display:block;float:left;margin-top:6px;}
#mainNav ul li a {font-size:16px; color:white; text-decoration: none;padding-top:4px; padding-bottom:4px;padding-left:10px;padding-right:10px;display:block;}
#mainNav ul li a:hover {background-color:#77b6d5;}
#mainNav ul li {font-size:16px; color:white;padding-left:4px;padding-right:4px;}
#mainNav ul li img {margin-top:4px;}

div.horizRule {background-color:#EED53B;font-size:1px;height:5px;padding:0;}
div#homeTop{background-image: url("/images/site/bg_2.jpg"); background-repeat: no-repeat; width: 976px; height: 458px; position: relative; top: 0pt; left: 0pt;}

div#footBar{background-color:#67B2D1;height:30px;margin:10px 0 0 0;padding:0;vertical-align:top;width:976px;}
div#footBar ul {display:block;list-style-type:none;margin:0;padding:0;}
div#footBar ul li {display:block;float:left;padding:7px 0 0 40px;}

div#footerBottom{background-image:url("/images/site/gradient_slice.jpg");background-repeat:repeat-x;height:100px;padding-top:14px;width:976px;}
div#footerRights{float:right;font-family:Arial;font-size:11px;margin-right:14px;}
div#footerMainNav{color:#8CC63F;margin-left:14px;}
div#footerMainNav ul {display:block;list-style-type:none;margin:0;padding-bottom:5px;}
div#footerMainNav ul li {display:block;float:left;}
.homeQuote {color:#FFFFFF;font-family:Arial;font-size:14px;font-weight:bold;}
sub {color:#007DB1;font-family:Arial;font-size:14px;}
#footBar a{color:#FFFFFF;font-family:Arial;font-size:13px;text-decoration:none;}
#footBar a:hover{color:#C5E29F;text-decoration:none;}
.homePageText{color:#007DB1;font-family:Arial;font-size:16px;font-weight:normal;padding-top:20px;}
#footer { text-align: center; }
.coolpur_page p {clear:both; margin:10px;}

