<div class="info-title">
  <h3>修改密码</h3>
  <span class="edit-link-false">编辑</span>
  <%= error_messages_for :user %>
</div>





<% form_for(:user, :url => object_url, :html => { :method => :put, :class=>"pwdinfo" }) do |f| %>
  <table style="width:auto;">
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>新密码：</td>
      <td><%= f.password_field :password, :class => 'title', :size => 'auto'  %></td>
    </tr>
    <tr>
      <td>再次输入新密码：</td>
      <td><%= f.password_field :password_confirmation, :class => 'title', :size => 'auto' %></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <%=submit_tag t("update"), :class => 'button submit-btn' %>
        <input type="button" onclick="discard_pwdinfo();" value="放弃修改" class="button cancel-btn"/>
      </td>
    </tr>
  </table>
<% end %>
