    <ul>
      <% if cookies[:last_visited] %>
      <%  Product.where('id in (' + cookies[:last_visited] + ')').each do |p| %>
      <li><a href="#"><%= p.name %></a><span class="price"><%= p.price %></span></li>
      <% end %>
      <% end %>
    </ul>
