<div id="footer">
  <div class="footBar">
    <ul>
      <li>
        <a href="/pages/zhi-gong-liu-cheng">低价直供模式</a>
      </li>
      <li>
        <a href="/<%= current_user ? "products" : "signup" -%>" >免费加入</a>
      </li>

      <li>
        <a href="/pages/legal-notices" >法律声明</a>
      </li>
    </ul>
    <div class="copyright">
      &copy; 2008-2010 深圳酷购科技发展有限公司
    </div>
  </div>
  <div class="footerBottom">
    <div class="footmapnav">
      <%= render "pages/pages_nav" %>
      <div class="clr"></div>
    </div>
  </div>
</div>