<div id="mainNav">
  <ul class="nav-list">
    <li class="first"><a href="/">首页</a></li>
    <li><a href="/pages/direct-supply-process">直供流程</a></li>
    <li><a href="/products">全部机型</a></li>
    <li><a href="/quotations/promo_list">批发报价</a></li>
    <li class="last">
      <% if current_user %>
        <a href="/pages/contact">联系方式</a>
      <% else %>
        <a href="/signup">如何加入</a>
      <% end %>
    </li>
  </ul>
  <%= render 'shared/search' %>
  <div class="clr"></div>
</div>
