@import "_colors";
@import "_mixins";

.product-listing {
  .no-bullets;
  margin: 2em 0px 0px 0px;
  padding: 0px;
  li {
    .rounded_corners(3px);
    height: 250px;
    width: 161px;
    float: left;
    text-align: center;
    margin: 10px 10px 10px 0;
    padding: 10px;
    border: 2px solid #EFEEED;
    position: relative;
    a {
      display: block;
      text-decoration: none;
    }
    .info {
      position: absolute;
      bottom: 0px;
      right: 0px;
      padding: 5px;
      min-height: 90px;
      height:auto;
      _height:90px;
      width:170px;
      text-align: left;
      /*background: #FFF url(../images/shadow_top.png) 0px -35px repeat-x;*/
      border-top: 1px solid #f8f8f8;
      font-size:1.2em;
      span { display: block; }
      .lookquotations{ font-size:0.8em; color: @link_color;}
      p{
          margin:8px 0;
          font-size:0.8em;
      }
    }
  }
  li.last{
      margin-right:0;
    }
  li:hover,li.hover {
    border-color: #a6d098;
    .info {
      /*background: #1B1B1B url(../images/bottom_shine.png) bottom left repeat-x;*/
      color:@link_hover_color;
      .lookquotations{ font-size:0.8em; color: @link_hover_color;}
      
    }
  }
}

ul.thumbnails {
  .no_margin_or_padding;
  list-style: none;
  li {
    float: left;
    margin: 0 2px 2px 0;
    padding: 3px;
    border: 2px solid #d8d8d8;
    min-height: 50px;
    height:auto;
    _height:50px;
    width: 50px;
    position: relative;
    img {
      position :absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
  }
  li:hover { border-color: #b1d887; }
  li.selected { border-color: #8ec871; }
}

.product-banner{ margin: 0 0 22px 0; }

.slide-area{
    .slide-c{
        .slide-box{
            overflow: hidden;
        }
    }

    .slide-tabs{
        float:right;
        margin:8px 0;
        list-style-type: none;
        li{
            float:left;
            margin-right:5px;
            width:16px;
            height:16px;
            text-align: center;
            height-line:16px;
            border: 1px solid #238cbb;
            cursor: pointer;
        }
        li.hover{
            background: #238cbb;
            color:#fff;
        }
    
    }
}

.quotations-filter-area{
    float:right;
    margin-left:-676px;
    width:100%;

    .qfb{
        margin-left:676px;
        width:auto;
    }
}

.quotations-filter{
    width:300px;
    float: right;
    border: 2px solid #a6d098;
    background: #fff;
    .rounded_corners(3px);

    h3{
        background: #f8f8f8;
        color: #060;
        padding:5px 8px;
    }

    .search-model{
        margin: 0 12px 12px 12px;
    }

    dl{
        padding: 0 8px;
        dt{ 
            padding-top: 8px;
            font-size: 1.2em;
            border-top: 1px dashed #a6d098;
        }
        dt.first{
            border: 0 none;
        }
        dd{
            margin:0;
            padding:0;
            padding-top: 8px;

            ul{
                li{
                    list-style-type: none;
                    display: inline;
                    line-height: 1.8em;
                    margin-right: 8px;
                    a{
                        white-space: nowrap;
                    }
                    a:link,a:visited{
                        text-decoration: none;
                    }
                    a:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
.quotations-sort{
    li{
        list-style-type: none;
        display: inline;
        margin-right: 8px;
    }
}
.quotations-product-list{
    display:block;
    float:left;
    width:660px;
    
    .result-stats{
        height:30px;
        line-height:30px;
        font-size:1.2em;
        margin:0 0 12px 0;
        padding:5px;
        background: #fff6ed;

        strong{
            margin: 0 5px;
            color: #ff5411;
        }
    }



    table{
        tbody{
            td{
                border-bottom: 1px solid #f1f1f1;
                a:link,a:visited{
                    text-decoration: none;
                }
                a:hover{
                    text-decoration: underline;
                }
                .collectbtn{ visibility:hidden; }
            }
            .prices{
                text-align: right;
                color: @selling_price_color;
            }
            tr.hover{
                td{
                    background: #f8f8f8;
                    .collectbtn{ visibility:visible; }
                    .collectbtn:link,.collectbtn:visited{ /*font-weight: bold;*/ }
                    .collectbtn:hover{ }
                }
            }
            tr.seleted{
                td{
                    background:#e9f4e9;
                    .collectbtn{ visibility:visible; }
                }
            }
        }
        colgroup{
            .col_1{ width:70px; }
            .col_7{ width:96px; }
        }
    }
}


.brand-list{
    .area-header{
        height: 1.8em;
        line-height: 1.8em;
        margin: 18px auto;
        padding: 0.5em;
        background: #E9F4E9;
        h3{
            font-size:1.5em;
            color:#006600;
            display:inline;
        }
        .info{
            margin-left: 0.3em;
            font-size: 1.2em;
            font-weight:normal;

            strong{
                color: #FF5411;
            }
        }
    }
    .tips{ font-size: 1.2em; }

    ul{
        list-style-type: none;
        margin:5px 0 12px 0;

        li{
            display:block;
            float: left;
            width: 18%;
            height: 25px;
            margin: 0 1% 12px 0;
            padding: 8px 0;
            white-space: nowrap;
            border: 1px solid #EFEEED;
            .rounded_corners(3px);

            a{
                margin-right: 5px;
                font-size: 1.2em;
            }
 
            a.current {
                background: url(../images/menu-current.png) right center no-repeat;
                white-space: nowrap;
                overflow: hidden;
            }
            .brand-name{
                height: 25px;
                line-height: 25px;
                float: left;
                padding-left: 8px;
                color: #B9B9B9;
            }
            .concern{
                float: right;
                padding: 3px 8px 0 0;
                font-size: 0.8em;
            }
            label{ display: none; }
        }
        li:hover,li.hover{
            border-color: #8ec871;
            background: #e9f4e9;
        }
    }
}

.years-title{
    height:40px;
    line-height: 40px;
    background: #E9F4E9;
    padding: 0 12px;
    margin:22px 0 12px 0;

    h2{
        margin:0;
        font-size:1.5em;
        display: inline;
    }
    .num{
        font-size: 1.2em;
        color: #FF5411;
    }
}
.years-look-more{
    margin:12px 0;
    height: 30px;
    line-height: 30px;
    text-align: center;

    a{
        font-size: 1.5em;
        font-weight: bold;
    }
    .num{
        font-size: 1.2em;
        color: #FFB311;
    }
}