<% cache do %>
  <dl id="all_brands">
    <dt>价格区间</dt>
    <dd><ul class="price-list">
        <li><a href="javascript:void(0);" onclick="sp(this);">全部</a></li>
        <li><a href="javascript:void(0);" onclick="sp(this);">500元以下</a></li>
        <li><a href="javascript:void(0);" onclick="sp(this);">500~1000</a></li>
        <li><a href="javascript:void(0);" onclick="sp(this);">1000~2000</a></li>
        <li><a href="javascript:void(0);" onclick="sp(this);">2000元以上</a></li>
      </ul></dd>
    <dt>品牌</dt>
    <dd>
      <ul class="brand-list">
        <li><a href="javascript:void(0);" onclick="sb(this,0);">全部</a></li>
        <% brands.each do |brand|%>
          <li><a href="javascript:void(0);" onclick="sb(this, <%= brand.brand_id %>);"><%= "#{brand.brand}(#{brand.cnt})" %></a></li>
        <% end %>
      </ul>
    </dd>
  </dl>
<% end %>