<%
cols = 7

b = ''
bnt = 0
rs = []
t = Taxon.find_by_name('主推机型')
products.each do |p|
  if b != p.taxon_val('品牌')
    bnt += 1
    bnt = 1 if bnt > 4
    b = p.taxon_val('品牌')
    rs << "<tr class='c#{bnt}'><td colspan='2' class='tit'>#{b}</td></tr>"
  end
  rs << "<tr class='c#{bnt}'><td class='model' #{(p.taxons.include? t) ? "title='主推机型'" : ''}><a href='/products/#{p.permalink}'>#{p.property('型号')}</a>" + ( (p.taxons.include? t) ? '&nbsp;<span class="icon ui-icon ui-icon-signal"></span>' : '') + "</td><td class='price'>#{p.price}</td></tr>"
end
row = rs.count / cols
ts = []
cols.times do |i|
  ts << '<table class="q-table">'
  ts.concat rs[(row * i)..(row * i + row)]
  ts << '</table>'
end
%>

<%= raw ts.join("\n") %>
