<div class="toolbar">
  <a class="button <%= controller.action_name == 'promo_list' ? 'submit-btn' : 'cancel-btn' %>" href="/quotations/promo_list">今日报价</a>
  <a class="button <%= controller.action_name == 'index' ? 'submit-btn' : 'cancel-btn' %>" href="/quotations">报价查询</a>
  <a class="button <%= controller.action_name == 'table' ? 'submit-btn' : 'cancel-btn' %>" href="/quotations/table">全部报价</a>
</div>