<% content_for :head do %>
  <style type="text/css">
    .q-table {width:auto;float:left;border:solid 1px #b6d8a8;}
    .q-table .tit { /*border-top:solid 1px green; */ }
    .q-table td{ border-bottom: 1px solid #b6d8a8; height: 25px; line-height: 25px; }
    .q-table a {text-decoration: none;color:#222;}
    .q-table a:hover {text-decoration: underline; color:#6DC037;}
    .c4 {background-color: #f1f1f1;}
    .c1 {background-color: #fdf8e2;}
    .c2 {background-color: #e2f8fd;}
    .c3 {background-color: #ede2fd;}
    .tit {font-size:1.2em; font-weight: bold; color: #FF5411; }
    td.price{ color: #FF5411; }
    .icon {float:right;margin-top:4px;}
  </style>
<% end %>
<% cache('quotation-table') do %>
  <h1>报价列表</h1>
  <div class="quotations-table">
    <div class="toolbar"><a href="/quotations" class="button cancel-btn">报价查询</a> <a class="button cancel-btn" href="/print.html">打印报价单</a> <input type="button" class="button cancel-btn" value="导出为Excel(CSV)" /></div>
    <h2>国际品牌</h2>
    <%= render 'quotes_table', :products => @p_gj %>
    <div class="clr"></div>
    <h2>国内品牌</h2>
    <%= render 'quotes_table', :products => @p_gn %>
  </div>
<% end %>